body {
    background-color: #0d1117;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.results-container {
    width: 100%;
    max-width: 400px;
}
