body {
    font-family: "Overwatch", Arial, sans-serif;
    background: #0d1117;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.player-stats {
    margin-top: 20px;
    padding: 10px;
    font-size: 0.9em;
    line-height: 1.6;
    text-align: left;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
